.center{
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header{
    font-size: xx-large;
}

.hidden{
    visibility: hidden;
    display: none;
}